<!-- This is the main layout for the site -->
<!-- login & signup page -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <h1 class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
        <a href="/">Tech Blog</a>
      
      <nav>
        <a class="link" href="/" title="Home">Home</a>
        <a class="link" href="/dashboard" title="Dashboard">Dashboard</a>
     


        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a class="link" href="/" id="logout">Logout</a>
        {{else}}
        <a class="link" href="/login" title="Login">Login</a>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </h1>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}

  <script src="/js/comment.js"></script>
  <script src="/js/post-edit.js"></script>
  <script src="/js/post-new.js"></script>
  <script src="/js/delete-post.js"></script>
  <script src="/js/logout.js"></script>
  {{/if}} 
  <script src="/js/login.js"></script>


</body>

</html>
