<!-- login-form for Event Listener -->
<!--  // ('#email-login') for username login -->
<!--  // ('.login-form') for event listener -->

<div class="row">
  <div class="col-md-6">
    <h2 class="card-header">Login</h2>
    <form class="form login-form"> 
      <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
    </form>
  </div>

<!-- // Collect values from the signup form -->
<!-- // ('#name-signup') for username sign up-->
<!-- // ('#email-signup') for username sign up-->
<!-- // ('.signup-form') for event listener-->

  <div class="col-md-6">
    <h2 class="card-header">Signup</h2>
    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">User Name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
        <h5><em>Password must be at least 10 characters long</em></h5>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/login.js"></script>
