<h2>Edit or Delete Post</h2>
<form class="edit-post-form">
    <div class="card-body form-row">
        <label for="title-update-post" class="form-label">Title</label>
        <input class="form-input form-control" name="post-title" id="title-update-post" type="text" value="{{title}}"  />
    </div>

    <div class="form-row">
        <label class="form-label" for="update-content-post">Content</label>
        <input name="content" id="update-content-post" type="text"  class="form-input form-control" value="{{content}}"></textarea>
    </div>
    <button id="update" type="submit" class="btn btn-primary">UPDATE POST</button>
    <button id="delete" type="submit" class="btn delete-post-btn btn-primary">DELETE POST</button>
</form>


