<!-- signup-form for Event Listener -->
<!--  // ('#name-signup') for username sign up -->
<!--  // ('#email-signup') for user email sign up -->
<!--  // ('.signup-form') for event listener -->
<div class="row"></div>
 <div class="col-md-6">
    <h2 class="card-header">Signup</h2>
    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">User Name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
        <h5><em>Password must be at least 10 characters long</em></h5>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>
<script src="../public/js/signup.js"></script>
